.plyr--audio .plyr__controls {
  background-color: var(--bs-body-bg);
  color: var(--bg-body-color);
  padding: 0;
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded="true"] {
  background-color: var(--bs-primary);
}

.plyr--full-ui input[type="range"] {
  color: var(--bs-primary);
}

.plyr__menu__container .plyr__control[role="menuitemradio"][aria-checked="true"]::before {
  background-color: var(--bs-primary)
}